body {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #f8f9fa;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a:hover {
    text-decoration: none;
}
.mainContainer {
    padding-top: 63px;
}

.bigText {
    transition: 0.1s;
}

.bigText:hover {
    margin-left: 10px;
    transition: 0.1s;
}
